<section class="about-section">
  <div class="profile-clip-wrapper">
    <div class="profile-picture-container">
      <img src="./adryan-claro-perfil.jpeg" alt="Foto de perfil de Adryan Claro" />
    </div>
  </div>
  <div class="about-texts-container">
    <h1>Sobre mim</h1>
    <p>
      Olá! Sou Adryan Claro, um <span>Desenvolvedor Full-Stack</span> com mais de um ano de
      experiência focada em soluções <span>escaláveis e de alto desempenho</span>. Meu core é
      <strong>TypeScript e Java</strong>, trabalhando com <strong>Angular/VueJS</strong> no Frontend
      e <strong>Spring Boot/Quarkus, NestJS/Express</strong> no Backend. Tenho domínio sólido em
      Docker, SQL e metodologias ágeis. Atualmente, sou aluno em programas avançados da
      <span>Oracle ONE, Amazon e Google</span>, e curso Engenharia de Software (conclusão em 2027).
    </p>
    <a class="about-button-container" routerLink="/sobre-mim">
      <span class="about-button-text">Conheça mais sobre mim</span>
      <i class="ph ph-arrow-right"></i>
    </a>
  </div>
</section>
